// Port of the awesome xetex resume template by Debarghya Das
// Jade Template
// Author: Ankit Sultana
// Original Repo: https://github.com/bk2dcradle/jade-resume
// LICENSE: GNU GPL v3

doctype html
html(lang="en")
    head
        title= 'Resume'
        link(href="includes/css/style.css", rel="stylesheet")
        // Link to the corresponding fonts
        // Font: Raleway | https://github.com/mrkelly/lato.git
        link(href="includes/fonts/raleway/raleway.css" rel="stylesheet")
        // Font: Lato | https://github.com/softwaymedical/raleway.git
        link(href="includes/fonts/lato/css/lato.min.css" rel="stylesheet")
    body
        #update-status
            p.
                Last updated on OCT 30, 2019

        .heading
            h1 #{firstName} #{lastName}
            h  cpmaurya.github.io
            br
            h  mauryacp96@gmail.com | +91 7297821655
        hr
        ///h OBJECTIVE
        ///p Render best of my services for a challenging job opportunity, which provide me demanding
        ///p technological responsibilities, important for the growth of company as well as for me.
        .content
            ////////////////////////
            // Left Column begins //
            ////////////////////////
            .left-column
                ///////// Begin Section: Education /////////
                h1 Education
                // Begin Subsection
                br
                h2 SKIT JAIPUR
                h3 B.Tech Computer Science
                h4 AUG 2015 - MAY 2019
                h4 Aggregate - 68.69%
                h4 Jaipur, Rajasthan

                // Space between two subsections
                br
                // Begin Subsection
                h2 SIC Allahabad
                h3 Intermediate (12th) | Maths
                h4 JULY 2013 - MAY 2014
                h4 Aggregate - 80%
                h4 Allahabad, Uttar Pradesh
                br
                h2 SIC Allahabad
                h3 High School (10th) | Science
                h4 JULY 2011 - MAY 2012
                h4 Aggregate - 80%
                h4 Allahabad, Uttar Pradesh
                ///////// Begin Section: Links /////////
                h1 Links
                br
                // List follows
                ul.nostyle
                    - for (var i = 0; i < links.length; i++)
                        li #{links[i][0]}://#[a(href="#{links[i][1]}") #{links[i][2]}]

                ///////// Begin Section: Skills /////////
                h1 Skills
                br
                // Begin Subsection
                h2 Programming
                // Use no-overlap if inline list overlaps with any element
                // above it
                h4.no-overlap Worked in
                // Note: Use span with li elements so the bullets can be closer
                //       than the browser default value. Refer:
                //       http://stackoverflow.com/questions/4373046/css-control-space-between-bullet-and-li
                ul.inline
                    - for (var i = 0; i < languagesStrong.length; i++)
                        li
                            span= languagesStrong[i]

                .clearfix
                br
                h4.no-overlap Familiar
                ul.inline
                    - for (var i = 0; i < languagesFamiliar.length; i++)
                        li
                            span= languagesFamiliar[i]

                .clearfix
                br
                h4.no-overlap Frameworks
                ul.inline
                    - for (var i = 0; i < languagesframework.length; i++)
                        li
                            span= languagesframework[i]

                .clearfix
                br
                h4.no-overlap Tools
                ul.inline
                    - for (var i = 0; i < languagestool.length; i++)
                        li
                            span= languagestool[i]

                .clearfix
                ///////// Begin Section: Coursework /////////
                h1 Coursework
                br
                // Begin Subsection
                ///h2 Graduate
                ///- for (var i = 0; i <graduateCourses.length; i++)
                    ///p= graduateCourses[i]

                // Begin Subsection
                ///h2 Undergraduate
                - for (var i = 0; i < undergradCourses.length; i++)
                    p= undergradCourses[i]
                    - if (i == 4)
                        ///p.italic.bold (Research Asst. & Teaching Asst 2x)


            ////////////////////////
            /// Left Column ends ///
            ////////////////////////
            // Right Column Begins//
            ////////////////////////
            .right-column
                ///////// Begin Section: Experience /////////
                //h1 CAREER OBJECTIVE
                //br
                //p To continue my career with an organization that will Utilize my skills to benefit mutual growth and success.

                h1 Experience
                br
                // Begin Subsection
                h2 MEDDELIVERY | #[span B2B PHARMA SUPPLY CHAIN IN INDIA]
                h3 Full-time PRODUCT ENGINEER | MAY 2019 - Prasent
                li  During my job I have work on many feature and still cont..
                li  Backend development with Python/Django
                li  Web APIs with Django REST framework
                li  Frontend development with Angular

                h2 DZONE | #[span Software Training & Service Provider]
                h3 Summar Training | May 2018 - July 2018
                li  During training program learn Python/Django and work on multiple project.
                li  Backend development with Python/Django.
                li  Django REST framework.

                // Space between subsections, in case if they are too close

                // Begin Subsection
                ///h2 Coursera | #[span KPCB Fellow + Software Engineering Intern]
                ///h3 June 2014 - Sep 2014 | Mountain View, CA
                ///ul
                   /// li 52 out of 2500 applicants chosen to be a #[a(href="#") KPCB] Fellow 2014
                   /// li Led and shipped Yoda - the admin interface for the new Phoenix platform
                    ///li.
                      ///  Full-stack developer - Wrote and reviewed code for JS

                .clearfix
                ///////// Begin Section: Research /////////
                h1 Projects
                br
                h2 Criminal Activities Prediction | #[span ML & Python/Django]
                h3 Aug 2018 - Apr 2019 | College Project | Team of 3
                li  This project aim to predict patterns of crimes being committed.
                li  The project automating the process of analyzing and visualizing criminal data.
                li  The data from the project is taken from Boston Police Department criminal report datasets.
                br
                h2 URL Shortener | #[span Python/Django]
                h3 Link :- https://github.com/CPMaurya/URL-Shortener
                li  Website to shorten url.
                li  Built using Python(Django Framework).
                br
                //- h2 Text Editor | #[span Simple Notepad | Python]
                //- h3 Link :- https://github.com/CPMaurya/TextEditor-Notepad-
                //- li  Text editor similar to Microsoft Windows Notepad.
                //- li  Basic text-editing program, enables users to create documents.
                //- br
                h2 Child And Animal Tracking System | #[span PHP & ANDROID]
                h3 Link :- https://github.com/GopalSevaks/RajHack3
                h3 Dec 2017 - Dec 2017 | Rajasthan Hackathon 3.0 | Team of 4
                li  Track Livestock.
                li  Google Map APIs implemented using Javascript.
                br
                h2 TIC TAC TOE | #[span Angular]
                h3 Link :- https://github.com/CPMaurya/TIC_TAC_TOE
                li  Two player game.

                ///////// Begin Section: Awards /////////
                h1 EXTRA CURRICULAR ACTIVITIES
                br
                li Member of “Tech-Innova Club”.
                li Attended one day workshop on “WEB DEVELOPMENT & PYTHON 3”.
                li Participate of the Microsoft open source project challenge.
                li Active Participation in SKIT YOUTH RED CROSS CLUB – Blood Donation Camp (2016, 2017)


                h1 STRENGTHS
                br
                li Good grasping power
                li Deterministic
                //li Optimistic
                li Leadership



                ///////// Begin Section: Publications /////////
                ///h1 Publications
                ///ol.publications-list
                   /// li.
                       /// #[a(href="#") A. Jain], #[a(href="#") D.Das] and #[a(href="#") A.Saxena]. Planit: A crowdsourcing approach
                        ///for learning to plan paths from large scale preference
                        ///feedback. #[span.italic Tech Report, ICRA, in press]
                    ///li.
                        ///S. TIlsen, D.Das, and B.McKee. Real-time articulatory
                        ///biofeedback with electromagnetic articulography.
                        ///#[span.italic Linguistics Vanguard, in press.]
                ////////////////////////
                /// Right Column Ends //
                ////////////////////////
